@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h1-bold60 {
    @apply text-2xl sm:text-4xl text-orange-700 font-medium lg:text-5xl xl:text-6xl;
  }

  .h1-bold70 {
    @apply text-3xl md:text-5xl max-md:!leading-10 mx-auto lg:text-[55px] lg:leading-[60px] xl:text-[80px] xl:leading-[85px]
  }

  .h1bold {
    @apply relative sm:text-4xl text-3xl text-green-900 lg:text-5xl lg:leading-[55px];
  }

  .h3-20 {
    @apply text-xl font-medium md:text-4xl text-dark-900 my-3
  }
}

.CTA {
  background: linear-gradient(to bottom, #1152A2, #6da7ee);
}

.cohort-grid::before {
  content: '';
  background-image: url('/images/cohort-grid.png');
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.highlight-grid::before {
  content: '';
  background-image: url('/images/highlight-grid.png');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.topic::before {
  content: '';
  background-image: url('/icons/under-svg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  max-height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.footer-grid::before {
  content: '';
  background-image: url('/images/footer-grid.png');
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%);
}

.testimonial-grid::before {
  content: '';
  background-image: url('/images/testimonial-grid.png');
  width: 90%;
  height: 70%;
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.disabled-btn {
  @apply cursor-not-allowed bg-gray-500 text-white;
}

.star::before {
  content: '';
  position: absolute;
  background: url('/images/star.png');
  left: 5%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
  opacity: 0.5;
}

.quill {
  margin-bottom: 60px !important;
}

.ql-container {
  font-size: 16px !important;
}

.map {
  background-image: url('/images/map.png');
  height: 476px;
  width: 100%;
  background-size: cover;
}

.map::before {
  content: '';
  background-image: url('/images/strokeline.png');
  background-size: contain;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -35%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #E9F3FF;
  ;
}

::-webkit-scrollbar-thumb {
  background-color: #024BA5;
}
